*{margin:20px;}

label{
  display:block;
  clear:left;
}

input,textarea{
  display:inline-block;
  margin-left:10px;
  border:1px solid #ccc;
  height:30px;
  width:200px;
  border-radius:4px;
  transition:all 1s ease;
}

input:focus{
  -webkit-transform:rotate(5760deg) scale(2);
  border:5px solid red;
  margin-left:140px;
}

input:invalid{
  -webkit-animation:wrong .1s infinite ease;
}


@keyframes wrong{
	from{background:red;}
	to{background:yellow}
}

